/* -------------------------------------Main Styles-------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: #fafafa;
  text-align: center;
  margin: -22px auto 0;
  padding-bottom: 30px;
  width: 100%;
}

h2 {
  font-family: 'Judson', serif;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

ul {
  list-style-positon: inside;
  padding-left: 0;
}

/* -------------------------------------Nav Styles-------------------------------------*/

#main-nav {
  padding: 1em;
}

.nav-bar {
  text-decoration: none;
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
  display: block;
  margin-bottom: 8px;
  padding: 15px;
  text-transform: uppercase;
  background-color: white;
  font-size: 1.25em;
  
}

.nav-bar a {
  color: #3f3f3f;
  font-weight: 700;
  text-decoration: none;
}

.nav-bar a:hover {
  color: black;
  font-weight: 700;
  opacity: 0.5;
}

#main-name {
  color: black;
  font-size: 4em;
  font-family: 'Judson', serif;
  margin: 30px auto 0;
  padding: 0;
}

#main-name a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}



/* -------------------------------------About Styles-------------------------------------*/

#profile-photo {
  display: block;
  margin: 0 auto 35px;
  max-width: 60%;
  border: 2px solid #ff5c33; padding: 4px; background: white;
  border-radius: 50%;
}

#about {
  text-align: left;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #696969;
  padding: 1em;
}

/* -------------------------------------Experience Styles-------------------------------------*/

#experience {
  padding-bottom: 30px;
}

#skills {
  padding: 20px 1em;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}

#skills img {
  width: 100px;
}

#skills li {
  list-style: none;
  display: block;
  margin: 5px auto;
  padding: 20px 70px;
  background-color: #fafafa;
  background-color: rgba(255, 92, 51, 0.08);
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #696969;
}

#skills h3 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.25em;
  color: black;
  font-weight: 700;
  margin: 8px auto;
}
/* -------------------------------------Quote Styles-------------------------------------*/

#quote {
  display: block;
  background: url("../img/quote.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
  height: 300px;
  width: 100%;
  text-align: center;
  position: relative;
}

#quote h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Judson', serif;
  font-size: 2.25em;
  font-weight: bold;
  line-height: 2em;
  color: #ff5c33;
  text-shadow: 0 2px 2px black;
}

#quote p {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1em;
  color: black;
}

/* -------------------------------------Portfolio Styles-------------------------------------*/

#portfolio {
  display: block;
  padding: 20px 1em;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}

#gallery {
  list-style: none;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

#gallery img {
  max-width: 80%;
  border-radius: 2%;
  box-shadow: 0 15px 20px -12px #888888;
}

.caption-title {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.25em;
  color: black;
  font-weight: 700
}

.caption {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1em;
  color: #696969;
  line-height: 1.5em;
  margin: 0 auto 60px;
  max-width: 80%;
}

/* -------------------------------------Contact Styles-------------------------------------*/

#contact {
  background-color: #fafafa;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 15px 1em 1px;
}

#contact p {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #696969;
  line-height: 1.5em;
}

#contact a {
  color: #3f3f3f;
  font-weight: 700;
  text-decoration: none;
}

#contact a:hover {
  color: black;
  font-weight: 700;
  opacity: 0.5;
}

#phone {
    padding-top: 1.25em;
  }

hr {
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ff5c33;
    margin-top: 60px;
    margin-bottom: 0;
}

/* -------------------------------------Footer Styles-------------------------------------*/

footer {
  background-color: #fafafa;
  text-align: center;
  padding-bottom: 30px;
}

#sec-nav {
  margin: 0 auto;
  padding: 20px 1em;
}

#name {
  float: left;
  display: inline-block;
  font-family: 'Judson', serif;
  font-size: 1.25em;
  margin: auto;
  list-style: none;
}

#top {
  float: right;
  display: inline-block;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 0.75em;
  margin: auto;
  padding-top: 0.65em;
  padding-left: 1em;
  list-style: none;
  text-transform: uppercase;
}

#top a {
  color: #3f3f3f;
  font-weight: 700;
  text-decoration: none;
}

#top a:hover {
  color: black;
  font-weight: 700;
  opacity: 0.5;
}

#name a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

.list-nav {
  display: none;
}

/* --------------------------------------------------------------------------
MEDIA QUERIES 738px
--------------------------------------------------------------------------*/

@media (min-width: 768px) {

/* -------------------------------------Nav Styles-------------------------------------*/

  #main-name {
    display: block;
    margin-bottom: -10px;
  }
  
  .nav-bar {
    text-decoration: none;
    text-align: center;
    font-family: 'Quattrocento Sans', sans-serif;
    display: inline-block;
    margin-bottom: 8px;
    padding: 5px 15px;
    text-transform: uppercase;
    background-color: #fafafa;
    font-size: 1.25em;
    
  }

/* -------------------------------------About Styles-------------------------------------*/

  #profile-photo {
    display: inline-block;
    width: 35%;
    float: right;
    margin-left: 2em;
    margin-bottom: 1.5em;
    margin-top: 1em;
  }



/* -------------------------------------Experience Styles-------------------------------------*/

  #skills {
     display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: flex; 
        max-width: 100%;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 0 auto;
  }
  
  #skills li {
    margin: 0 0.5em;
    padding: 30px 70px;
    width: 33.33%;
    background-color: #fafafa;
    background-color: rgba(255, 92, 51, 0.08);
  }



/* -------------------------------------Quote Styles-------------------------------------*/

  #quote p {
    color: white;
  }


/* -------------------------------------Portfolio Styles-------------------------------------*/

  #gallery li {
        display: inline-block; 
        width: 50%;
		min-height: 420px;
        float: left;
        margin: 0 auto;
  }

/* -------------------------------------Contact Styles-------------------------------------*/
  
  #contact p {
    margin: 0 auto;
    max-width: 60%;
  }


/* -------------------------------------Footer Styles-------------------------------------*/
  .list-nav {
    float: right;
    display: inline-block;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 0.75em;
    margin: auto;
    padding-top: 0.65em;
    padding-left: 1em;
    list-style: none;
    text-transform: uppercase;
  }
  
  .list-nav a {
    color: #3f3f3f;
    font-weight: 700;
    text-decoration: none;
  }
  
  .list-nav a:hover {
    color: black;
    font-weight: 700;
    opacity: 0.5;
  }
  
  #top {
    display: none;
  }

/* -------------------------------------Clearfix Styles-------------------------------------*/


  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

}

/* --------------------------------------------------------------------------
MEDIA QUERIES 1024px
--------------------------------------------------------------------------*/

@media (min-width: 1024px) {

/* -------------------------------------Nav Styles-------------------------------------*/

  #nav {
    background-color: blue;
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
  }
  
  #nav-buttons {
    display: inline-block;
    float: right;
    margin: 0 auto;
    padding: 70px 0.75em 20px;
  }
  
  #main-name {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 30px 0 50px;
  }

/* -------------------------------------About Styles-------------------------------------*/

  #about {
    clear: both;
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
  }
  
  #profile-photo {
    display: inline-block;
    width: 25%;
    max-width: 300px;
  }

/* -------------------------------------Experience Styles-------------------------------------*/

  #experience {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
  }

/* -------------------------------------Portfolio Styles-------------------------------------*/

  #portfolio {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
  }

  #gallery li {
        display: inline-block; 
        width: 33%;
		min-height: 410px;
        float: left;
        margin: 0 auto;
  }

/* -------------------------------------Contact Styles-------------------------------------*/

  #contact p {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
  }

  hr{
    width: 90%;
    max-width: 1600px;
  }


/* -------------------------------------Footer Styles-------------------------------------*/

  #sec-nav {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
  }


}